header#Header {
    background-color: #36626a;
    padding: 10px 20px;
}

/*
box-shadow: 0 6px 8px 0 #7b29f5;
*/

ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav ul {
    list-style-type:none;
  }

nav ul li a {
    color: #f1d18a !important;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font:700;
    
   }
   
   nav ul li a:hover {
    color: #cfa458 !important;
    text-decoration:underline;
   }

   #archimede{
    
    width: 50px;
    margin-top: 8px;


}
#react{
    
    width: 80px;
    margin-top: 8px;


}
#bordi{

    border-left: solid;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    color: #f1d18a;
    background-color: #588d9c;

}
#archimede:hover{
    
    width: 55px;


}
#react:hover{
    
    width: 90px;


}